body{
    background-color: #ffd5cd;
}

hr{
    border-style: dotted none none none;
    border-color: #c3aed6;
    border-width: 4px;
    width: 5%;
}

img{
    width: 200px;
    border-radius: 100%;
}

h1{
    color: #484c7f;
}

h3{
    color: #ac8daf;
}